.header-level {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    
        li {
          float: left;
    
          a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            cursor: pointer;
            
            &.selected {
                font-weight: 900;
                pointer-events: none;
            }

            &:hover {
              background-color: #111111;
            }
          }
        }

    &-1 {
        font-size: 16px;
        li {
            a {
                padding: 16px;
            }
        }
    }

    &-2 {
        font-size: 14px;
        li {
            a {
                padding: 14px 14px 14px 16px;
            }
        }
    }

    &-3 {
        font-size: 12px;
        li {
            a {
                padding: 12px 12px 12px 16px;
            }
        }
    }
}