.header-level {
    &-1 {
        font-size: 16px;

        a {
            padding: 16px;
        }
    }

    &-2 {
        font-size: 12px;

        a {
            padding: 12px;
        }
    }

    &-3 {
        font-size: 8px;

        a {
            padding: 8px;
        }
    }

}